<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2009. Brian R. Jackson.  All Rights Reserved. http://www.jaxzin.com
  ~     This file is part of Handlecheck.
  ~
  ~     Handlecheck is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     Handlecheck is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with Handlecheck.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>handlecheck</servlet-name>
        <servlet-class>com.jaxzin.handlecheck.server.HandleCheckServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handlecheck</servlet-name>
        <url-pattern>/handlecheck/com.jaxzin.handlecheck.HandleCheck/HandleCheckService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>com.jaxzin.handlecheck.server.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin/Admin</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>HandleCheck.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>
